.main-container {
	display: flex;
	margin-bottom: 50px;
	justify-content: center;
}

.product-container {
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	max-width: 2200px;
	position: relative;
	margin: 150px 0;
	flex: 1;
}

.product-card {
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 12px;
	margin: 15px;
	padding: 20px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	transition: transform 0.2s;
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 400px;
}

.product-image {
	width: 40%;
	height: auto;
	object-fit: cover;
}

.product-details {
	padding: 30px;
}

.product-card h2 {
	font-size: 18px;
	margin: 10px 0;
}

.product-card p {
	font-size: 16px;
}

.button {
	display: inline-block;
	padding: 10px 100px;
	background-color: #e6e6e6;
	color: #000;
	text-decoration: none;
	border-radius: 12px;
	transition: background-color 0.3s;
	cursor: pointer;
	user-select: none;
}

.button:hover {
	background-color: #d5d5d5;
}

.button-trash {
	text-decoration: none;
	margin-left: 55px;
	margin-top: 18px;
	font-size: 12px;
	color: #696969;
	cursor: pointer;
}

.cart {
	width: 100%;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	max-width: 300px;
	height: 480px;
	background-color: #fff;
	border: 1px solid #e0e0e0;
	border-radius: 12px;
	padding: 20px;
	z-index: 1;
	margin-right: 20px;
	display: flex;
	flex-direction: column;
	position: relative;
	top: 175px;
}

.cart h2 {
	font-size: 18px;
	color: #333;
}

.cart ul {
	list-style-type: none;
	padding: 0;
	overflow-y: auto;
	max-height: 400px;
	flex-grow: 1;
}

.cart li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;
	border-bottom: 1px solid #f0f0f0;
}

.cart-price {
	font-size: 20px;
	border: 1px solid #000;
	color: #000000;
	background-color: var(--main-color);
	padding: 10px 20px;
	border-radius: var(--border-radius);
	text-align: center;
	cursor: pointer;
	transition: background-color 0.3s;
	user-select: none;
}

.cart-price:hover {
	background-color: var(--main-color-hover);
}

.cart-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.cart-item {
	display: flex;
	width: 100%;
}

.product-name {
	width: 200px;
	word-wrap: break-word;
	margin-right: 15px;
}

.button-add,
.button-remove {
	font-size: 20px;
	cursor: pointer;
	user-select: none;
	padding: 0 10px;
	margin: 0 5px;
	display: inline-block;
	text-align: center;
}

.button-add {
	color: var(--main-color);
}

.button-remove {
	color: #f44336;
}

.button-remove {
	color: #ff1302;
}
.sort-controls {
	margin-top: -60px;
	display: flex;
	gap: 10px;
	justify-content: center;
	position: absolute;
	width: 100%;
	max-width: 600px;
	margin-left: 15px;
}

.sort-controls form {
	flex: 1;
}

.sort {
	margin-top: 0px;
}
.sort,
select {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 12px;
	box-sizing: border-box;
	background-color: #ffffff;
	color: #000000;
	font-size: 16px;
	cursor: pointer;
	display: flex;
	transition: background-color 0.3s, border-color 0.3s;
	height: 42px;
}

.sort:hover {
	background-color: #f0f0f0;
}
@media (max-width: 768px) {
	.sort-controls {
		position: static;
		margin-top: 20px;
		flex-direction: column;
		width: 90%;
		max-width: none;
		margin-left: auto;
		margin-right: auto;
		justify-content: flex-start;
	}

	.sort-controls form {
		flex: none;
		width: 100%;
	}

	.sort,
	select {
		width: 100%;
		font-size: 16px;
		padding: 10px;
	}
	.main-container {
		flex-direction: column;
	}

	.product-container {
		margin: 120px 0;
		padding: 5px;
		justify-content: center;
		margin-left: 55px;
	}

	.product-card {
		margin: 10px;
		padding: 15px;
		flex: 1 1 300px;
		max-width: 300px;
		margin: 10px auto;
	}

	.product-card h2 {
		font-size: 16px;
	}

	.product-card p {
		font-size: 14px;
	}

	.button {
		padding: 10px 50px;
	}

	.cart {
		max-width: 100%;
		margin-bottom: -50px;
		margin-top: 20px;
	}

	.cart h2 {
		font-size: 16px;
	}

	.cart li {
		padding: 5px 0;
	}

	.cart li span.product-name {
		font-size: 14px;
	}

	.cart li span.product-info {
		font-size: 12px;
	}

	.cart p {
		font-size: 16px;
	}

	.cart p#cart-price {
		font-size: 18px;
		padding: 8px 15px;
	}
}
